options {
	directory "/var/cache/bind";
        allow-query { {{ trusted_network }} };
        allow-recursion { {{ trusted_network }} };
        allow-transfer { none; };
        dnssec-enable yes;
        dnssec-validation yes;
	forwarders { 127.0.2.1; };
	auth-nxdomain no;    # conform to RFC1035
	listen-on { {{ public_ip}}; };
	listen-on-v6 { none; };
	max-cache-ttl {{ max_cache }};
	max-ncache-ttls {{ max_ncache }};
	version "Get Lost Pal";
};

